.hero-section{
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  margin-right: 200px;
  justify-content: flex-start;
}

.background-text{
  position: absolute;
  top: 60%;
  left: 50%;
  font-size: 150px !important;
  color: #453e3e;
  transform: translate(-100%, -120%);
  font-size: 100px;
  z-index: 499;

}

.carousel-container{
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.carousel-content {
    display: flex;
    padding: 100px;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px;
    min-height: 500px;
    width: 100%;
  }
  
  .carousel-text {
    flex: 1;
    padding-right: 180px;
    color: #fff;
  }
  
  .carousel-text h3 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .carousel-text p {
    margin-bottom: 28px;
  }
  
  .carousel-text pre {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .shop-button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .shop-button:hover {
    background-color: #e60000;
  }
  
  .product-image {
    flex: 1;
    max-width: 50%;
    object-fit:cover;
    padding-left: 100px;
  }

  .carousel-indicators{
    display: flex;
    justify-content: center;
    margin-top: 20px;

  }
  .radio-indicator{
    margin: 0 5px;
  }
  .radio-indicator input{
    display: none;
  }
  .radio-indicator .custom-radio{
    width: 12px;
    height: 12px;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }
  .radio-indicator input:checked + .custom-radio{
    background-color: #fa0b0bca;
    border-color: #ef2004;
  }